{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="section-heading">
                <h4>Contact Us</h4>
            </div>
            
            <div class="single-post-area" style="display: block; padding: 20px;">
                <p>We'd love to hear from you! Please reach out to us using the contact information below.</p>
                
                <div style="margin-top: 20px;">
                    <h5>Email</h5>
                    <p>abevicrama002@gmail.com</p>
                    
                    <h5>Address</h5>
                    <p>Sabaragamuwa University of Sri Lanka,<br>
                    Belihuloya, Sri Lanka</p>
                </div>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="single-widget">
                <h6 class="widget-title">Connect with us</h6>
                <div class="social-info" style="display: block;">
                    <a href="#" style="color: #a6a6a6; display: block; margin: 10px 0;"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="#" style="color: #a6a6a6; display: block; margin: 10px 0;"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="#" style="color: #a6a6a6; display: block; margin: 10px 0;"><i class="fa fa-instagram"></i> Instagram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
